<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">


    <aop:aspectj-autoproxy/>
    <bean id="tank" class="cn.wgh.designpattern.structural.proxy.spring.v1.Tank"></bean>
    <bean id="timeProxy" class="cn.wgh.designpattern.structural.proxy.spring.v1.TimeProxy"></bean>
</beans>